.header{
  height: 367px;
  background-color: #4B69FD;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
}

.header>nav>img{
  margin-right:15px;
}

.header>ul>li>h1,
.header>ul>li>h2{
  color:white;
  font-weight: bold;
  font-size: 26px;
}